.row {
	color: white;
	margin-left: 20px;
	flex: 0 0 calc(100% - 400px - 2rem);
	margin-right: 2rem;
	position: relative;
}

.row > h2 {
	padding-bottom: 5px;
	padding-top: 5px;
}

.row::-webkit-scrollbar {
	background-color: transparent;
	display: none;
}

.row__posters {
	width: 100%;
	display: flex;
	padding: 10px;
	margin-left: -10px;
	margin-top: -10px;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.row__posters::-webkit-scrollbar {
	background-color: transparent;
	display: none;
}

.row__posters > .list__item {
	flex: 0 0 200px;
	height: 300px;
	background: #fff;
	border-radius: 1rem;
	overflow: hidden;
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px -1px,
		rgba(0, 0, 0, 0.14) 0 4px 5px 0, rgba(0, 0, 0, 0.12) 0 1px 10px 0;
	cursor: pointer;
}

.row__posters > .list__item + .list__item {
	margin-left: 1.2rem;
}

.row__posters::-webkit-scrollbar {
	display: none;
}

.list__item > img {
	width: 100%;
	height: 100%;
	transform: scale(1.1);
	transition: all 0.2s ease-out;
	object-fit: contain;
}

.list__item:hover > img {
	transform: scale(1);
}

.list__item::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background-image: radial-gradient(
		ellipse farthest-side at 0 100%,
		#2c3e50,
		transparent
	);
	background-size: 150% 150%;
	background-position: 0 0;
	top: 0;
	left: 0;
	transition: all 0.2s;
	z-index: 1;
}

.list__item:hover::before {
	background-position: 0% 100%;
}

.list__itemInfo {
	position: absolute;
	left: 0;
	bottom: -8rem;
	padding: 1rem;
	z-index: 9;
	width: 100%;
	transition: bottom 0.2s ease-in;
}

.list__item:hover .list__itemInfo {
	bottom: 0;
}

.list__itemTitle {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 95%;
	margin-bottom: 1rem;
	transition: margin-bottom 0.2s ease-out;
}

.list__item:hover .list__itemTitle {
	margin-bottom: 0.5rem;
}

.list__itemYear {
	font-size: 0.85rem;
	margin-left: 0.5rem;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	opacity: 0.75;
}

.list__itemButton {
	padding: 6px 8px;
	font-size: 0.8rem;
	color: #fff;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
	background-color: rgba(89, 188, 218, 0.63);
	border: none;
	font-weight: 600;
	cursor: pointer;
}

.list__itemButton:hover {
	color: #000;
	background-color: #e6e6e6;
	transition: all 0.2s;
}

@keyframes modal-video-inner {
	from {
		transform: scale(0.75);
		opacity: 0;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes modal-video {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.modal-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000000;
	cursor: pointer;
	opacity: 1;
	animation: modal-video 0.3s ease-in;
}

.modal-video-body {
	max-width: 800px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.modal-video-inner {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
}

.modal-video-movie-wrap {
	width: 90%;
	height: 0;
	position: relative;
	padding-bottom: 56.25%;
	background-color: #2c3e50;
	border-radius: 1rem;
	transform: scale(1);
	opacity: 1;
	animation: modal-video-inner 0.3s 0.1s ease-in;
	box-shadow: 0 1rem 1.5rem -0.5rem rgba(0, 0, 0, 0.5);
}

.modal-video-movie-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
}

.modal-video-close-btn {
	position: absolute;
	z-index: 2;
	top: -2.5rem;
	right: 1rem;
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	overflow: hidden;
	border: none;
	background: transparent;
}

.modal-video-close-btn:before {
	transform: translate(-50%, -50%) rotate(45deg);
}

.modal-video-close-btn:after {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-video-close-btn:before,
.modal-video-close-btn:after {
	content: '';
	position: absolute;
	height: 3px;
	width: 100%;
	top: 50%;
	left: 50%;
	background: #fff;
	border-radius: 5px;
}
